<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col">
      <div class="card card-upgrade">
        <div class="card-header">
          <h5 class="card-title">Liste des patients</h5>
        </div>
        <div class="card-body">
          <div class="table-responsive table-upgrade">
            <table class="table">
              <thead>
                <th class="text-center">#</th>
                <th class="text-center">Nom</th>
                <th class="text-center">Prenom</th>
                <th class="text-center">Sexe</th>
                <th class="text-center">Age</th>
                <th class="text-center">Action</th>
              </thead>
              <tbody>
                <tr>
                  <td class="text-center">1</td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center">
                    <div class="btn-group mx-2" >
                      <a class="btn btn-icon btn-success" title="Voir profile patient"><i class="feather icon-edit"></i></a>
                    </div>
                    <div class="btn-group mx-2">
                      <a class="btn btn-icon btn-outline-primary" title="Editer patient"><i class="feather icon-codepen"></i></a>
                    </div>
                    <div class="btn-group mx-2" >
                      <a class="btn btn-icon btn-danger"  title="Supprimer"><i class="feather icon-trash-2"></i></a>
                    </div>
                  </td> 
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="btn-group mx-2" >
    <a class="btn btn-icon btn-success"  title="Ajouter"><i class="plus">+</i></a>
  </div>
</div>
